.initi
	{
	
	font-family: "Lucida console", "Helvetica", "monospace";
	color: #48d900;
	margin-left: auto;
	margin-right:auto;
	width: 100%;

	}

tr, td
	{

	border: 1px solid;
	border-collapse: collapse;
	border-color: #4e521a;

	}

ul
	{

	padding-left: 20px;
	padding-right: 5px;
	list-style: none;

	}

body
	{

	background-color: #0d0f0c;

	}

.landing{
	
	padding-left: 25px;

	}

a
	{

	color: #48d900;

	}

a:hover
	{

	color: black;
	background-color: #48d900;

	}

.informa
	{

	padding-left: 25px;

	}

#gatorango{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

	}
